# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.env
train_model.py
convert_model.py
dist/
build/
.env

# Model training data
digit-recognizer/
saved_model/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo
